.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.white-painting {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px var(--shadowColor);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 300px;
}

.logo-writing-white {
  width: 170px;
}
.logo-writing-white,
.mother2 {
  display: block;
  margin: 0 auto;
}

.landing-page > figure {
  text-align: center;
}

.white-painting > h1 {
  text-align: center;
  color: #133f63;
  font-weight: bolder;
  margin-top: 1rem;
  font-size: 16px;
}

.landing-page > section > p {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  color: #133f63;
  font-size: 12px;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  background-color: #133f63;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px var(--shadowColor);
  cursor: pointer;
  margin-bottom: 5rem;
}
.round-button:hover {
  background-color: #133f64;
}
.logo-writing,
.round-button-white,
.small-not-blue {
  display: none;
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .logo-writing-white,
  .small-not,
  .round-button,
  .landing-page ~ .main-footer {
    display: none;
  }

  .landing-page {
    background: var(--mainColor);
    justify-content: center;
  }

  .logo-writing {
    display: block;
    width: 170px;
    overflow: hidden;
  }

  .white-painting > h1 {
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
  }

  .white-painting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 550px;
  }
  .landing-page img:last-of-type {
    width: 230px;
  }
  .landing-page p:last-of-type {
    margin-top: 0;
    font-size: 12px;
  }

  .round-button-white {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #133f63;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 1px 3px var(--shadowColor);
    cursor: pointer;
  }
}

@media screen and (min-width: 1025px) {
  .logo-writing-white,
  .small-not,
  .round-button,
  .landing-page ~ .main-footer {
    display: none;
  }

  .landing-page {
    background: var(--mainColor);
    justify-content: center;
  }

  .logo-writing {
    display: block;
    width: 210px;
    overflow: hidden;
  }

  .white-painting > h1 {
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
  }

  .white-painting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 650px;
  }
  .landing-page img:last-of-type {
    width: 310px;
  }
  .landing-page p:last-of-type {
    margin-top: 0;
    font-size: 18px;
  }

  .round-button-white {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #133f63;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 1px 3px var(--shadowColor);
    cursor: pointer;
  }
}
