.header-gradient {
  background: var(--mainColor);
  padding: 30px;
}

.main-page {
  background: white;
  min-height: 100vh;
  padding: 1px;
}

.return-form-profil {
  color: var(--secondaryColor);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-header-bookings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button-parents {
  background: #00cdac;
  border: none;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 20%;
  box-shadow: 0 2px 6px var(--shadowColor);
  cursor: pointer;
}

.button-parents:hover {
  background: #008b76;
}

.button-children {
  background: #26d0fe;
  border: none;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 20%;
  box-shadow: 0 2px 6px var(--shadowColor);
  cursor: pointer;
}
.button-children:hover {
  background: #1684a2;
}

.button-reservation {
  background: #7771af;
  border: none;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 20%;
  box-shadow: 0 2px 6px var(--shadowColor);
  cursor: pointer;
}
.button-reservation:hover {
  background: #4d4970;
}
