.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;

  width: 100%;
  max-width: 380px;
  padding: 40px 20px;

  box-sizing: border-box;
  background: var(--mainColor);
  color: var(--secondaryColor);
}
.profile-page p {
  font-size: 15px;
  font-weight: bolder;
}

.profile img {
  outline: 5px solid #7771af;
  outline-offset: -20px;
  border-radius: 50%;
}

.profile figcaption,
.profile h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-page > button {
  width: 100%;
  padding: 26px 0;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.child-button {
  background-color: #26d0fe;
  color: white;
}

.parents-button {
  background-color: #00cdac;
  color: white;
}

.reservations-button {
  background-color: #7771af;
  color: white;
}

.profile-page button:hover {
  opacity: 0.9;
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    width: 100%;
    max-width: 2010px;
    padding: 60px 40px;

    box-sizing: border-box;
    background-color: skyblue;
    color: white;
  }

  .profile-page p {
    font-size: 16px;
    font-weight: bolder;
  }

  .profile img {
    outline: 5px solid #007bff;
    outline-offset: -20px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }

  .profile figcaption,
  .profile h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .profile-page > button {
    width: auto;
    min-width: 220px;
    padding: 20px 0;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .child-button {
    background-color: #6ec1e4;
    color: white;
  }

  .parents-button {
    background-color: #5cb85c;
    color: white;
  }

  .reservations-button {
    background-color: #f0ad4e;
    color: white;
  }

  .profile-page button:hover {
    opacity: 0.9;
  }

  .profile-page > button {
    display: inline-block;
    margin: 10px;
  }
}
