.main-children-folder {
  background: white;
}

.children-folder {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title-profile-children {
  color: #4973d2;
  padding: 20px;
  font-size: 20px;
}

#gender-choice {
  text-align: center;
}

.login-form-children {
  display: grid;
  gap: 12px;
  width: 90%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-primary {
  margin-top: 20px;
  width: 60%;
  justify-self: center;
}

@media (max-width: 680px) {
  .button-primary {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 680px) {
  .input-field {
    width: 75%;
    margin: 0.2rem 0 0.2rem 0;
    justify-self: center;
  }
}

.main-children-folder > h2 {
  text-align: center;
  margin-top: 1rem;
}
