.filter-head-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;

  & input {
    position: absolute;
    height: 40px;
    width: 326px;
    font-size: 1rem;
    border-radius: 15px;
    background: linear-gradient(
      90deg,
      rgba(118, 163, 246, 0.3) 3%,
      rgba(148, 185, 255, 0.3) 43%,
      rgba(205, 252, 255, 0.3) 98%
    );
    padding: 0 0 2px 45px;
    border: none;
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.788);
    color: black;
    font-weight: lighter;
  }

  & img {
    position: relative;
    z-index: 1;
    left: -140px;
  }
}
