.input-field,
.user-registration input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-form {
  display: grid;
  gap: 12px;
  width: 80%;
}

.user-registration {
  display: grid;
  gap: 12px;
}

.input-field:focus {
  outline: none;
  border-color: var(--secondaryColor);
}

.form-validation-button {
  margin: 20px 0 0 0;
}
