.nav-component {
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  height: 78px;
  gap: 26px;
  padding: 0 0 0 10px;
}

.nav-buttons {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  transition: 0.5s ease;
  border: none;
}

.nav-buttons:hover {
  cursor: pointer;
}

.active > button {
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(168, 203, 255, 1) 3%,
    rgba(188, 215, 255, 0.94) 43%,
    rgba(205, 252, 255, 0.91) 98%
  );
}

.nav-buttons > img {
  width: 50%;
  object-fit: cover;
  padding: 2px 0 0 2px;
}

.logo-navbar {
  display: none;
}
@media screen and (min-width: 380px) {
  .nav-component {
    flex-direction: column;
    background: none;
  }
  .logo-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-navbar img {
    width: 100px;
  }
  .small-not-navbar {
    color: white;
    font-family: "Beth Ellen", sans-serif;
  }
}
