.nursery-section {
  height: 250px;
  width: 95%;
  padding: 0 0 20px 0;
}

.nursery-section figure {
  width: 100%;
  margin: 0;
}

.nursery-section figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  opacity: 0.75;
}

.nursery-section figcaption {
  position: relative;
  top: -35px;
  padding: 0 0 0 5px;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.nursery-section p {
  color: black;
  margin: 0;
  padding: 0 0 5px 0;
}
