.nursery-availabilities-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calendar-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.date-button {
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
}

.nursery-availabilities-calendar p {
  padding: 15px;
  font-size: 1.2rem;
}

@media screen and (min-width: 680px) {
  .calendar-area {
    width: 60%;
  }
  .date-button {
    width: 30%;
    font-size: 1rem;
  }
}
