.nursery-bookings-page {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.reservation-status-nursery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.reservation-status-nursery button {
  height: 30px;
  background: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.booking-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 15px;
  margin: 10px;
}

.booking-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.booking-container article {
  padding: 20px 0 0 15px;
}

.booking-container article ul {
  list-style: none;
}

.booking-container select,
.booking-container button {
  height: 30px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  width: 40%;
  border: none;
  text-align: center;
  cursor: pointer;
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
}

.client-infos {
  display: flex;
  flex-direction: column;
}

.booking-container button {
  background: green;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.booking-container select {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.child-info {
  display: flex;
  justify-content: space-between;
}
.child-info button {
  background: orange;
}
