.nursery-bookings-page {
  background: #f9f9f9;
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.client-infos ul,
.booking-infos ul {
  list-style: none;
  padding: 0;
}

.client-infos li,
.booking-infos li {
  margin: 10px 0;
}

.child-info {
  align-items: center;
}

.client-infos button.status-button {
  background: orange;
  color: white;
  width: 80px;
  height: 30px;
  padding: 5px 10px;
}

.client-infos button.En-attente {
  background: #ffcc00;
}

.client-infos button.Acceptée {
  background: #4caf50;
}

.client-infos button.Refusée {
  background: #f44336;
}

.booking-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.booking-container select,
.booking-container button {
  height: 40px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.booking-container button {
  background: var(--secondaryColor);
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}
.booking-container button:hover {
  background: rgb(78, 80, 137);
}
