.parent-folder {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.title-profile-parent {
  color: #76a3f6;
  padding: 1rem;
  font-size: 20px;
}

.button-parent-folder {
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: var(--secondaryColor);
  color: white;
  border: none;
  margin-left: 50px;
}

.login-form-parent {
  display: grid;
  gap: 12px;
  width: 90%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-secondary {
  background-color: var(--secondaryColor);
  color: white;
}

.valid-user-information {
  border: 1.75px solid rgb(16, 219, 16);
  color: black;
  background-color: white;
}
